# Compiler files
cache/
out/**/

# Ignore node_modules and dependencies
node_modules
*.log
yarn-error.log

# Ignore build outputs
dist
out
**/__pycache__

# Ignore environment files
.env

# Ignore version control files
docs/autogen/.git
docs/autogen/.gitignore

# Ignore editor and OS-specific files
*.swp
*.DS_Store
Thumbs.db

# Ignore IDE-specific files
.idea/
.vscode/

cache/
out/
broadcast/
deployments/

script/logs.txt
lcov.info
/target
/coverage
/report
.password
